@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
html {
  min-width: 320px;
}

body {
  background-color: #000;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bg__color {
  background-color: #000;
}

.nav__title {
  color: #fff;
  margin: 0;
  font-family: "Rye", "Serif";
  text-align: center;
}
.nav__title span {
  margin-right: 0.5em;
}

.img__container {
  width: 100px;
  height: 100px;
  background-image: url(../assets/jerry-logo.png);
  background-size: cover;
  background-position: center;
}
.img__container img {
  width: 100%;
}

.nav__list {
  align-items: center;
  justify-content: center;
}
.nav__text {
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
  padding: 5px;
}
.nav__text:hover, .nav__text a:focus {
  color: #000;
  background-color: #fff;
  transition: 0.5s;
}

/*INTRO START*/
.intro__bg__image {
  background-color: #000;
}
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__container h2 {
  font-family: "Rye", "Serif";
  color: #fff;
  margin-top: 1em;
  font-size: 2.5rem;
  text-align: center;
}
.intro__container p {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: justify;
  margin-inline: 7em;
  margin-block: 3em;
}

/*INTRO END*/
/*Section 1 -> Servicios*/
.servicios__acordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3em;
  font-family: sans-serif;
}
.servicios__container {
  margin-block: 2rem;
  overflow: hidden;
}
.servicios__img {
  width: 450px;
}
.servicios__img img {
  width: 100%;
  border: 5px solid rgba(82, 82, 82, 0.8);
}

.accordion-button:not(.collapsed) {
  background-color: wheat;
  color: black;
  box-shadow: 0px 0px 10px wheat;
}

.title {
  font-size: 2.5rem;
  font-family: "Rye", "Serif";
  padding-block: 1rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}

.btn__color {
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
}
.btn__color__secondary {
  background-color: #000;
  color: #fff;
  border-radius: none;
}

/*Section 2 -> Productos*/
.card__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  width: 18rem;
  margin-bottom: 2em;
  border: 4px solid wheat;
  box-shadow: 0px 0px 30px wheat;
  opacity: 0;
  animation: appears 1s ease-in forwards;
  animation-delay: 1s;
  animation-iteration-count: 1;
}
.card-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  align-self: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-body p {
  margin-bottom: 0;
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Section 3 -> Sucursales*/
.grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 50px 1fr auto;
  grid-template-areas: "sucursal sucursal" "cerreti segui" "iframe1 iframe2" "text1 text2";
  gap: 20px;
}
.grid__title {
  grid-area: sucursal;
}
.grid__subtitle_1 {
  color: #fff;
  text-align: center;
  font-family: "Rye", "Serif";
  grid-area: cerreti;
  border: 5px solid #fff;
}
.grid__subtitle_1:hover, .grid__subtitle_1:focus {
  background-color: #fff;
  transition: 1s;
  border: 5px double #000;
}
.grid__subtitle_1:hover a, .grid__subtitle_1:focus a {
  color: #000;
  text-decoration: none;
}
.grid__subtitle_1 h3 {
  margin-bottom: 0;
  margin-top: 5px;
}
.grid__subtitle_2 {
  grid-area: segui;
  color: #fff;
  text-align: center;
  font-family: "Rye", "Serif";
  border: 5px double #fff;
}
.grid__subtitle_2:hover, .grid__subtitle_2:focus {
  background-color: #fff;
  transition: 1s;
  border: 5px double #000;
}
.grid__subtitle_2:hover a, .grid__subtitle_2:focus a {
  color: #000;
  text-decoration: none;
}
.grid__subtitle_2 h3 {
  margin-bottom: 0;
  margin-top: 5px;
}
.grid__iframe_1 {
  grid-area: iframe1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double #fff;
}
.grid__iframe_2 {
  grid-area: iframe2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double #fff;
}
.grid__text_1 {
  grid-area: text1;
  justify-content: center;
  text-align: justify;
  font-size: 1.25rem;
}
.grid__text_2 {
  grid-area: text2;
  text-align: center;
  justify-content: center;
  text-align: justify;
  font-size: 1.25rem;
}

img {
  width: 100%;
}

.sucursales__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text__container {
  display: flex;
}
.text__container i {
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-start;
  color: #ee1721;
}

.sucursal__text {
  color: #fff;
}

/*Sección 4 -> Turnos*/
.turnos__title {
  margin-top: 2rem;
}

.form__layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 100px);
  grid-template-areas: "nombre-apellido" "horario" "sucursal" "servicio" "pedir-turno";
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.form__layout label {
  color: #fff;
}
.form__layout input, .form__layout select {
  font-size: 1.5rem;
  width: 100%;
}
.form__layout input {
  padding-left: 7px;
}
.form__button {
  border-radius: 0%;
  padding-left: 12px;
}
.form__button:hover {
  background-color: #fff;
  transform: scale(0.98, 0.98);
}

.nombre-apellido {
  grid-area: nombre-apellido;
  font-size: 1.75rem;
}

.horario {
  grid-area: horario;
  font-size: 1.75rem;
}

.sucursal {
  grid-area: sucursal;
  font-size: 1.75rem;
}

.servicio {
  grid-area: servicio;
  font-size: 1.75rem;
}

input.btn {
  grid-area: pedir-turno;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.6rem;
  width: fit-content;
  justify-self: center;
  padding-inline-start: 13px;
}

/****************FOOTER START****************/
footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  border-top: 1px solid #fff;
}
footer div {
  display: flex;
}

.icon__container p {
  font-size: 1.5rem;
  margin: 0;
  align-self: center;
}
.icon__container i {
  padding: 20px;
}

.index__button {
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
  border: 1px solid #fff;
  padding-inline: 20px;
}
.index__button:hover {
  background-color: #fff;
  transform: scale(0.98, 0.98);
}
.index__link {
  color: #fff;
  font-size: 1.5rem;
}
.index__link:hover {
  color: #000;
  background-color: #fff;
}

.footer__copyright {
  font-size: 1.2rem;
  margin: 0;
}

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 1000ms 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 1000ms 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/****************FOOTER END****************/
/****************MEDIA QUERIES****************/
@media screen and (max-width: 1343px) {
  .intro__container p {
    margin-inline: 5em;
  }
}
@media screen and (max-width: 991px) {
  .nav__title {
    display: none;
  }
  .intro__container p {
    margin-inline: 3em;
  }
  .servicios__img {
    display: none;
  }
  .grid__container {
    grid-template-columns: auto;
    grid-template-areas: "sucursal" "cerreti" "iframe1" "text1" "segui" "iframe2" "text2";
  }
  .cards__container {
    justify-content: space-evenly;
    gap: 20px;
  }
  .form__layout {
    margin: 20px;
  }
  .form__layout label {
    font-size: 1.5rem;
  }
  footer {
    flex-direction: column-reverse;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
