html{
    min-width: 320px;
}

body{
    background-color: $bg-primary;
    font-family: sans-serif;
}

*{
    @include reset (0, 0, border-box, none, none)
}

a{
    text-decoration: none;
    color: $color-primary;
}