/****************FOOTER START****************/

footer{
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    border-top: 1px solid $color-primary;

    & div{
        display: flex;
    }
}

.icon{
    &__container p{
        font-size: 1.5rem;
        margin: 0;
        align-self: center;
    }

    &__container i{
        padding: 20px;
    }
}

.index{
    &__button{
        background-color: $bg-primary;
        color: map-get($colors , Primary);
        padding: 0.25rem;
        border: 1px solid $color-primary;
        padding-inline: 20px;
        

        &:hover{
            background-color: $bg-secondary;
            transform: scale(0.98, 0.98);
        }
    }

    &__link{
        color: map-get($colors , Primary);
        font-size: 1.5rem;

        &:hover{
            color: $color-secondary;
            background-color: $bg-secondary;
        }
    }
}

.footer__copyright{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    margin: 0;  
}

.rotate-vert-center{
    -webkit-animation:rotate-vert-center 1000ms 15s cubic-bezier(.455,.03,.515,.955) both;
    animation:rotate-vert-center 1000ms 15s cubic-bezier(.455,.03,.515,.955) both}

@-webkit-keyframes rotate-vert-center{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}}@keyframes rotate-vert-center{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}}

/****************FOOTER END****************/