/*INTRO START*/
.intro{
    &__bg__image{
        background-color: $bg-primary;
    }

    &__container{
        @include d-flex (flex, column, center);

        & h2{
            font-family: $font-primary;
            color: $color-primary;
            margin-top: 1em;
            font-size: 2.5rem;
            text-align: center;
        }

        & p{
            color: $color-primary;
            text-align: justify;
            margin-inline: 3em;
            margin-block: 2em;
        }
    }
}
/*INTRO END*/