/****************MEDIA QUERIES****************/
@media screen and (max-width: 1343px) {
    .intro__container p{
        margin-inline: 5em;
    }
}

@media screen and (max-width:991px){
    .nav__title{
        display: none;
    }

    .intro__container p{
        margin-inline: 1rem;
    }

    .servicios__img{
        display: none;
    }

    .grid__container{
        grid-template-columns: auto; 
        grid-template-areas: 
        'sucursal'
        'cerreti'
        'iframe1'
        'text1'
        'segui'
        'iframe2'
        'text2';
    }

    .cards__container{
        justify-content: space-evenly;
        gap: 20px;
    }


    .form{
        &__layout{
            margin: 20px;
        
            & label{
                font-size: 1.5rem;
            }
        }
    }


    footer{
        flex-direction: column-reverse;
        text-align: center;
    }
}


