/*Sección 4 -> Turnos*/

.turnos__title{
    margin-top: 2rem;
}

.form{
    &__layout{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 100px);
        grid-template-areas: 
        'nombre-apellido'
        'horario'
        'sucursal'
        'servicio'
        'pedir-turno';
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        & label{
            color: $color-primary;
        }

        & input, & select{
            font-size: 1.5rem; 
            width: 100%;  
        }

        & input{
            padding-left: 7px;
        }
    }

    &__button{
        border-radius: 0%;
        padding-left: 12px;
        height: auto;
    }

    &__button:hover{
        background-color: $bg-secondary;
        transform: scale(0.98, 0.98);
    }
}

#nombre-apellido{
    height: 2rem;
}

.nombre-apellido{
    grid-area: nombre-apellido;
    font-size: 1.75rem;
}

.horario{
    grid-area: horario;
    font-size: 1.75rem;
}

.sucursal{
    grid-area: sucursal;
    font-size: 1.75rem;
}

.servicio{
    grid-area: servicio;
    font-size: 1.75rem;
}

input.btn{
    grid-area: pedir-turno;
    color: $color-primary;
    border: 1px solid $color-primary;
    font-size: 1.6rem;
    width: fit-content; 
    justify-self: center;
    padding-inline-start: 13px;
} 