@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

//BASIC STYLES
$font-primary: 'Rye', 'Serif';
$color-primary: #fff;
$color-secondary: #000;
$bg-primary: #000;
$bg-secondary: #fff;